:root {
  --base-font-size: 3vw;
}
.el-pagination .el-pager li,
.el-pagination button {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white;
}
body {
  font-size: var(--base-font-size);
}
.iconfont2 {
  font-family: "钉钉进步体 Regular2" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.01px;
}
@font-face {
  font-family: "钉钉进步体 Regular2";
  font-weight: 600;
  src: url("@/assets/font/DingTalk-JinBuTi.ttf") format("truetype"); /* 字体文件路径和格式 */
  font-display: swap;
}
.jinzhi {
  pointer-events: none;
}
